{
  "root": true,
  "extends": [
    "@nuxt/eslint-config",
    "plugin:vuetify/recommended",
    "plugin:playwright/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "playwright/no-conditional-in-test": "off",
    "playwright/no-skipped-test": "off"
  }
}
