# Environment variables
.env

# Dependencies
node_modules

# Output
.nuxt
.output
dist
dist-electron
release

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# sql.js / pdf.js files
src/public/sql-wasm.wasm
src/public/pdf.worker*
