# Environment variables
.env

# Dependencies
node_modules

# Output
.output
.nuxt
dist-electron
release

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# sql.js / pdf.js files
public/sql-wasm.wasm
public/pdf.worker*
